@font_family_1: Menlo, Monaco, Consolas, Helvetica Neue, Helvetica, Courier New,
  \5fae\8f6f\96c5\9ed1, monospace, Arial, sans-serif, \9ed1\4f53;

.table-node {
  border: 1px solid #999;
  border-bottom: 0;
  border-collapse: collapse;
  border-right: 0;
  font-size: 14px;
  font-family: @font_family_1 !important;
  font-weight: 700;
  margin: 5px;
  transition: transform 100ms ease;
  td {
    border: thin solid #999;
    border-left: 0;
    border-top: 0;
    padding: 2px 5px;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
    word-break: keep-all;
  }
  th {
    border: thin solid #999;
    border-left: 0;
    border-top: 0;
    padding: 2px 5px;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
    word-break: keep-all;
  }
  tr {
    text-align: left;
    &:nth-child(2n) {
      background: rgba(0, 0, 0, 0.03);
    }
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.abbreviated {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

div.string-type {
  max-width: 500px;
  display: flex;
  word-wrap: break-word;
  white-space: normal;
}

div.url-type {
  max-width: 500px;
  display: flex;
  word-wrap: break-word;
  white-space: normal;
  word-break: break-all;
}